<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--DO NOT USE THIS TO STORE YOUR MYSQL CREDENTIALS.-->
		<!--THIS IS INSECURE AND IT'S ONLY MEANT FOR DEVELOPMENT/TESTING.-->
		<add key="UseAppSettingsForLogin" value="true"/>
		<add key="MySqlHostname" value="localhost"/>
		<add key="MySqlUserId" value="root" />
		<add key="MySqlPassword" value="" />
		<add key="MySqlDatabase" value=""/>
	</appSettings>
</configuration>